body {
  font-family: Arial, sans-serif;
  background-color: #eae6e6;
  text-align: center;
}

.search-container {
  margin: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  gap: 20px;
  padding: 40px;
  max-width: 1600px;
  margin: 0 auto;
  justify-content: center;
}

.gallery-item {
  width: 360px;
  height: 200px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.gallery-item:hover {
  transform: translateY(-5px);
}

.gallery-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
}

.image-info {
  padding: 5px 10px;
  font-size: 12px;
  background-color: #f8f8f8;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.image-info span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.image-info i {
  color: #3a48ca;
  font-size: 16px;
}

.loader {
  width: 215px;
  height: 220px;
  background: linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(#ddd, #ddd), linear-gradient(#ddd, #ddd),
    linear-gradient(#ddd, #ddd);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 215px 220px, 215px 130px, 100px 15px, 150px 15px;
  background-position: -215px 0, 0 0, 15px 150px, 15px 180px;
  animation: loading 2s infinite;
  margin: 200px auto;
}

@keyframes loading {
  to {
    background-position: 215px 0, 0 0, 15px 150px, 15px 180px;
  }
}

@media (max-width: 1200px) {
  .gallery {
    padding: 20px;
  }
}

@media (max-width: 800px) {
  .gallery {
    padding: 15px;
  }
}

@media (max-width: 500px) {
  .gallery {
    padding: 10px;
  }

  .image-info {
    font-size: 10px;
    height: 40px;
  }
}
